.App-title{
    font-size: 28px;
    text-align: center;
    
}

.Movie-Container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.Mapped-Movies{
    width: 100%;
    text-align: center;
}
.title {
    text-align: center;
}